@page
@model lab16.Controllers.StateController
<form method="post" asp-action="SetCookie">
    <label for="data">Enter data:</label>
    <input type="text" name="data" required />
    <button type="submit">Submit</button>
</form>
